.div1{
    background-color: #9b38004d;
}
body{
    background-image: url("https://tds-images.thedailystar.net/sites/default/files/styles/big_202/public/images/2022/03/28/pust.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}